# Geral
__pycache__/
*.py[cod]
*.sqlite3
.env

# Django
*.log
db.sqlite3
/media

# Node
node_modules/
npm-debug.log

# Docker
*.pid
*.sock
.env
.env.*
.vscode/
postgres_data/

# React
frontend/build/
frontend/node_modules/
